<div class= "row">
	 <div class="col-xs-12"></div>
   <center>
     <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV_OKaTyhCrIhxuEtYJtcrfeyn2uQwrfb7S26DhiM7yipVDX_jzg height= 150px >
   </center>
</div>

<h5>Crear un nuevo puesto/rol</h5>
<br><br>

    <%=form_tag('/create') do%>
<div class= "row">
	 <div class="col-xs-12"></div>
   <center>
     <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV_OKaTyhCrIhxuEtYJtcrfeyn2uQwrfb7S26DhiM7yipVDX_jzg height= 150px >
   </center>
</div>
    <% end %>
</div>

 <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
 </div>