<div class= "row">
	 <div class="col-xs-12"></div>
   <center>
     <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV_OKaTyhCrIhxuEtYJtcrfeyn2uQwrfb7S26DhiM7yipVDX_jzg height= 130px >
   </center>
</div>
<br>
<div class="btn-group">
    <button type="button" class="btn btn-info" onclick= "redireccion()">INICIO</button>
   
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      MAS OPCIONES<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="new.html">Agregar Empleado</a></li>
        <li><a href="eliminate.html">Eliminar Empleado</a></li>
      </ul>
    </div>
  </div>

  <br><br><br>
<table id="customers">
  <tr>
    <th>PUESTO</th>
    <th>L</th>
    <th>RFC</th>
    <th>CURP</th>
     <th>PHOTO</th>

  </tr>
  <tr>
     <td>AlfredO</td>
     <td>Moguel</td>
     <td>MORF5807043G2</td>
     <th>MORF580704</th>
     <th>img_id</th>
  </tr>

</table>
<script>
function redireccion(){
window.location="home.html";
}
</script>

<script>
function crear(){
window.location="new.html";
}
</script>
<script>
function ELIMINAR(){
window.location="eliminate.html";
}
</script>